
ul
  li
    background: #eee
    &:hover
      background: white
    &:active
      background: #ddd

ul
  &:hover
    li
      a
        color: blue

something
  color: black
  &:active,
  &:hover,
  &.hover
    color: white
