

ul li:hover {
  background: white;
}

ul li:active {
  background: #ddd;
}

ul li {
  background: #eee;
}



ul:hover li a {
  color: blue;
}

something {
  color: black;
}

something:active,
something:hover,
something.hover {
  color: white;
}
